@import url("styles/header.css");


:root {
    --branco : #FFFFFF;
    --preto : #000000;
    --azul : #374B93;
    --amarelo : #FFF041; 
    --vermelho : #ED1D24;
    --font-principal: "Poppins", sans-serif;
}

body {
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--font-principal);
    box-sizing: border-box;
}