/* .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
} */

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease;
    padding: 24px;
    flex-direction: row;
}

.container-titulo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 6em;
}

.container-titulo:hover {
    color: var(--vermelho);
}

.lista-menu {
    position: relative;
    margin-right: 12em;
}

.lista-menu .lista-menu__items a{
    position: relative;
    color: var(--branco);
    font-size: 1em;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

.lista-menu .lista-menu__items a:before {
    content: '';
    position: absolute;
    background: var(--azul);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.lista-menu .lista-menu__items a:hover:before {
    width: 100%;
    background: var(--vermelho);
}

