#img-carrosel1 {
    height: 720px;
}
#img-carrosel2 {
    height: 720px;
}
#img-carrosel3 {
    height: 720px;
}

h5 {
    font-size: 30px;
}

.btn-txt {
    color: var(--branco);
    text-decoration: none;
}

.btn-txt-p4 {
    color: var(--preto);
    text-decoration: none;
}

/* persona 3 */

.container__banner {
    height: 720px;
}
.img-banner {
    height: 720px;
}

.phase {
    font-style: italic;
    font-size: 38px;
    margin-top: 25px;
}

#btn__header {
    border-radius: 90px;
    position: fixed;
    bottom: 50px;
    right: 100px;
}

.arrow-icon {
    filter: invert(100%) sepia(10%) saturate(7492%) hue-rotate(178deg) brightness(99%) contrast(114%);
}

.container__sinopse {
    display: flex;
    align-items: center;
    margin: 10em 10em;    
}

.sinopse__box {
    padding: 2em;
}

.sinopse__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.img__sinopse {
    width: 50%;
}

.container__op {
    text-align: center;
    margin: 10em 10em;  
}

.op__titulo {
    font-weight: 700;
    font-size: 48px;
}

.op__videos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em 1em;
}

.container__protagonista {
    text-align: center;
    margin: 10em 10em;
}

.protagonista__titulo {
    font-weight: 700;
    font-size: 48px;
}

.img__protagonista {
    width: 17%;
}

.protagonista__box {
    display: flex;
    align-items: center;    
}

.protagonista__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.img__orpheus {
    width: 25%;
}

.img__thanatos {
    width: 45%;
}

.container__links {
    text-align: center;
}

.links__titulo {
    font-weight: 700;
    font-size: 48px;
   
}

.links__lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 5em 0;
}

.links__icon {
    /* site para mudar cor de svg : https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(10%) saturate(7492%) hue-rotate(178deg) brightness(99%) contrast(114%);
    width: 52px;
    padding: 7px;
}

.links__item {
    font-size: 32px;
}

a {
    color: var(--branco);
    text-decoration: none;
}

a:hover {
    color: var(--azul);
}