#img-carrosel1 {
    height: 720px;
}
#img-carrosel2 {
    height: 720px;
}
#img-carrosel3 {
    height: 720px;
}

h5 {
    font-size: 30px;
}

.btn-txt {
    color: var(--branco);
    text-decoration: none;
}
.btn-txt-p4 {
    color: var(--preto);
    text-decoration: none;
}