#img-carrosel1 {
    height: 720px;
}
#img-carrosel2 {
    height: 720px;
}
#img-carrosel3 {
    height: 720px;
}

h5 {
    font-size: 30px;
}

.btn-txt {
    color: var(--branco);
    text-decoration: none;
}
.btn-txt:hover {
    color: var(--branco);
}

.btn-txt-p4 {
    color: var(--preto);
    text-decoration: none;
}
.btn-txt-p4:hover {
    color: var(--preto);   
}

/* persona 3 */

.container__banner {
    height: 720px;
}
.img-banner {
    height: 720px;
}

.phase {
    font-style: italic;
    font-size: 38px;
    margin-top: 25px;
}

#btn__header {
    border-radius: 90px;
    position: fixed;
    bottom: 50px;
    right: 100px;
}

.arrow-icon {
    filter: invert(100%) sepia(10%) saturate(7492%) hue-rotate(178deg) brightness(99%) contrast(114%);
}

.container__sinopse {
    display: flex;
    align-items: center;
    margin: 10em 10em;    
}

.sinopse__box {
    padding: 2em;
}

.sinopse__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.img__sinopse {
    width: 50%;
}

.container__op {
    text-align: center;
    margin: 10em 10em;  
}

.op__titulo {
    font-weight: 700;
    font-size: 48px;
}

.op__videos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em 1em;
}

.container__protagonista {
    text-align: center;
    margin: 10em 10em;
}

.img__protagonista-p3 {
    width: 17%;
}

.protagonista__box {
    display: flex;
    align-items: center;    
}

.protagonista__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.5em;
}

.img__orpheus {
    width: 25%;
}

.img__thanatos {
    width: 45%;
}

.container__links {
    margin-top: 5em;
    text-align: center;
}

.links__titulo {
    font-weight: 700;
    font-size: 48px;
   
}

.links__lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 5em 0;
}

.links__icon {
    /* site para mudar cor de svg : https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(10%) saturate(7492%) hue-rotate(178deg) brightness(99%) contrast(114%);
    width: 52px;
    padding: 7px;
}

.links__item-p3 {
    font-size: 32px;
    color: var(--branco);
    text-decoration: none;
}

.links__item-p3:hover {
    color: var(--azul);
}

/* persona 4 */

.arrow-icon-p4 {
    filter: invert(0%) sepia(98%) saturate(0%) hue-rotate(314deg) brightness(97%) contrast(102%);
}

.img__protagonista-p4 {
    width: 27%;
}

.img__izanagi {
    width: 55%;
}

.img__okami {
    width: 45%;
}

.links__item-p4 {
    font-size: 32px;
    color: var(--branco);
    text-decoration: none;
}

.links__item-p4:hover {
    color: var(--amarelo);
}

/* persona 5 */

.img__protagonista-p5 {
    width: 23%;
}

.img__joker {
    width: 45%;
}

.img__arsene {
    width: 55%;
}

.links__item-p5 {
    font-size: 32px;
    color: var(--branco);
    text-decoration: none;
}

.links__item-p5:hover {
    color: var(--vermelho);
}
