/* header */
.container-titulo:hover {
    color: var(--azul);
}

.lista-menu .lista-menu__items a:before {
    content: '';
    position: absolute;
    background: var(--preto);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.lista-menu .lista-menu__items a:hover:before {
    width: 100%;
    background: var(--azul);
}

/* main */

.container__banner {
    height: 720px;
}
.img-banner {
    height: 720px;
}

.phase {
    font-style: italic;
    font-size: 38px;
    margin-top: 25px;
}

.container__sinopse {
    display: flex;
    align-items: center;
    margin: 10em 10em;    
}

.sinopse__box {
    padding: 2em;
}

.sinopse__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.img__sinopse {
    width: 50%;
}